html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
}

main {
    flex: 1 1 auto;
}

.wrapper {
    margin: 0 auto;
    width: 880px; 
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation__button {
    background-color: #f3f5f7;
    height: 45px;
    color:  #2a2f37;
    padding: 0 15px;
    text-align: center;
    font-size: 16px;
    letter-spacing: .34px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.navigation__button:hover {
    background-color: #dee3e8;
    color: #2a2f37;
}

.navigation__button--pink {
    color: #ff6160;
    background-color: #ffeeef;
}

.navigation__button--pink:hover {
    color: #ff6160;
    background-color: #ffb6b6
}

/* header */

header {
    background-color: #2a2f37;
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 16px;
}

.header__list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__item--name {
    font-size: 24px;
    color: #ed6e16;
}

/* main */

.results__date {
    margin-bottom: 30px;
    font-size: 25px;
}

.navigation__list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.navigation__item {
    min-width: 70px;
}

.competition__list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 500px;
    margin-bottom: 10px;
}

.game__list {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 700px;
    margin-bottom: 5px; 
}

.datestatus__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 140px; 
}

.team__list {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.competitionList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}

.competitionList__headWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dcdcde;
    margin-bottom: 10px;
}

.comtetitionTitle {
    font-size: inherit;
}

.competitionList__matchWrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dcdcde;
    padding: 10px 5px;
}

.competitionList__matchDate {
    width: 200px;
}

.competitionList__matchInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.competitionList__team {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
    
}

.competitionList__teamName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home {
    flex-direction: row-reverse;

}

.competitionList__matchScore {
    background-color: #f3f5f7;
    border-radius: 5px;
    padding: 5px 5px;
    width: 85px;
    margin: 0 6px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}


.competitionList__matchesItemWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.competitionList__matchCounterWrapper {
    background-color: #0072b8;
    border-radius: 5px;
    padding: 1px 1px;
    color: #ffffff;
    font-weight: bold;
    height: 23px;
    min-width: 29px;
    text-align: center;
}

/* footer */

footer {
    background-color: #2a2f37;
    color: #ffffff;
    padding-top: 14px;
    padding-bottom: 16px;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
}

.address__link {
    font-style: normal;
    text-decoration: none;
    color: #ffffff;
}